<app-header></app-header>
<router-outlet>
</router-outlet>
<footer>
    <h2>PIN 2020</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nulla massa, aliquet eu vestibulum mollis, tempus non felis. Nullam pulvinar vitae ante at vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi luctus nibh
        fringilla diam varius, malesuada semper nulla cursus. Cras id ante tempor, hendrerit nunc in, posuere ligula. Curabitur vel finibus leo. Praesent dignissim nec ante id egestas. Nunc congue sollicitudin facilisis. In id nulla eros. Suspendisse
        et condimentum sem, nec tempus nunc. Sed vitae nisi lorem. Suspendisse potenti. Vivamus viverra finibus nulla.
        <div class="go-top" (click)="goTop()"></div>
</footer>