<div class="baner"></div>
<div class="welcome-conteiner">
    <div class="welcome-content">
        <h1>Pretrživanje</h1>
        <div id="filter-box" class="filter-box">
            <div class="filter-short" (click)="expandFilter()" (transitionend)="showFilter()">
                <div class="filter-icon"></div>
                <h3>Filteri</h3>
                <div id="more-arrow" class="more-arrow"></div>
            </div>
            <div id="filter" class="filter filter-hidden">
                <div class="filter-elements">
                    <div class="filter-item">
                        <label for="autocomplete-select">Naslov</label>
                        <app-autocomplete-select name="autocomplete-select" [filter]="filterData">
                        </app-autocomplete-select>
                    </div>
                    <div class="filter-item">
                        <label for="multi-select">Oblast</label>
                        <app-multi-select name="multi-select" [items]="bookService.getCategories()"
                            [selectedItems]="filterData.categories" [compWidth]="215">
                        </app-multi-select>
                    </div>
                    <div class="filter-item">
                        <label for="multi-select">Jezik</label>
                        <app-multi-select name="multi-select" [items]="bookService.getLanguages()"
                            [selectedItems]="filterData.languages" [compWidth]="130">
                        </app-multi-select>
                    </div>
                    <div class="filter-item">
                        <label for="max-price">Najviša cena</label>
                        <form class="field-wrapper">
                            <input type="number" name="max-price" id="max-price" class="max-price"
                                (input)="priceValueListener.next()" [(ngModel)]="priceValue">
                            <label class="currency" for="max-price">RSD</label>
                        </form>
                    </div>
                    <div class="filter-item">
                        <label for="double-field-wrapper">Godina izdanja</label>
                        <div class="double-field-wrapper" name="double-field-wrapper">
                            <label class="date-label" for="start-date">od</label>
                            <app-single-select class="single-select" [isCancelable]="true" [items]="yearsFrom" [selectedItem]="selectedYearFrom"
                [compWidth]="120" (onSelectionChange)="yearChanged()"></app-single-select>
                            <label class="date-label" for="end-date">do</label>
                            <app-single-select class="single-select" [isCancelable]="true" [items]="yearsTo" [selectedItem]="selectedYearTo"
                [compWidth]="120" (onSelectionChange)="yearChanged()"></app-single-select>
                        </div>
                    </div>
                </div>
                <div class="start-search" (click)="startSearch()">
                    TRAŽI
                    <div name="start-search-icon" class="start-search-icon"></div>
                </div>
            </div>
        </div>
        <div class="sort-box">
            <div class="sort-icon"></div>
            <h3>Sort</h3>
            <app-single-select class="single-select" [items]="sortOptions" [selectedItem]="selectedSort"
                [compWidth]="200" (onSelectionChange)="startSearch()"></app-single-select>
        </div>
        <app-search-product-item
            [ngClass]="{'bottom-border': true, 'gray-background':true, 'white-backgroud': books.length < 2 }"
            *ngFor="let book of books" [book]="book" (showDetails)="showBookDetails($event)"></app-search-product-item>
        <img *ngIf="books.length === 0" class="no-result" src="assets/img/No results.png" alt="No results.png">
    </div>
</div>
<app-product-item *ngIf="showDetailsBook" [book]="showDetailsBook" (onCloseDetailView)="hideBookDetails()">
</app-product-item>