<div class="baner"></div>
<div class="home-conteiner">
    <div class="home-content">
        <h1>Dobro došli!</h1>
        <div id="img-1" class="home-grid-item"></div>
        <div id="first-detail" class="home-grid-item">
            <h2>Veliki izbor IT naslova</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mauris cursus mattis molestie a iaculis at erat pellentesque adipiscing. Tristique risus nec feugiat in. Iaculis urna
                id volutpat lacus laoreet non. Diam maecenas sed enim ut sem viverra. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien. Amet risus nullam eget felis eget nunc lobortis mattis. Sapien et ligula ullamcorper malesuada proin libero
                nunc consequat interdum. Vitae elementum curabitur vitae nunc. </p>
            <button>DETALJNIJE</button>
        </div>
        <div id="second-detail" class="home-grid-item home-grid-item-inverse">
            <h2>Jednostavna kupovina</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mauris cursus mattis molestie a iaculis at erat pellentesque adipiscing. Tristique risus nec feugiat in. Iaculis urna
                id volutpat lacus laoreet non. Diam maecenas sed enim ut sem viverra. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien. Amet risus nullam eget felis eget nunc lobortis mattis. Sapien et ligula ullamcorper malesuada proin libero
                nunc consequat interdum. Vitae elementum curabitur vitae nunc. </p>
            <button class="button-inverse">DETALJNIJE</button>
        </div>
        <div id="img-2" class="home-grid-item"></div>
        <h2>Izaberite oblast</h2>
        <div class="third-detail">
            <a routerLink="/search" [queryParams]="{categories: 'Java'}" routerLinkActive="router-link-active" id="third-detail-item-1" class="third-detail-item"></a>
            <a routerLink="/search" [queryParams]="{categories: 'Javascript'}" id="third-detail-item-2" class="third-detail-item"></a>
            <a routerLink="/search" [queryParams]="{categories: 'Excel VBA'}" id="third-detail-item-3" class="third-detail-item"></a>
        </div>
    </div>
</div>